<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="light">
  <head>
    <title>LDT</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/radio-btn.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" />
  </head>

  <body class="is-boxed" data-bs-theme="light">
    {% include 'includes/header.html' %}
    <main>
      {% block content %}
        Контент не подвезли
      {% endblock %}
    </main>

    <script src="{% static 'js\bootstrap\bootstrap.bundle.min.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
