{% extends "base.html" %} {% load static %} {% block content %}
<div style="max-width: 100%; height: 70vh; display: flex; justify-content: center">
    <div class="login-box">
        <form method="post">
            {% csrf_token %}
            <h1 style="margin: 0px 0px 20px 0px">Вход</h1>



            {% if form.errors  %}
                <div class="alert alert-danger" role="alert">
                    <ul class="messages">
                        <li class="error">Неправильный логин или пороль</li>
                    </ul>
                </div>
            {% endif %}
            <div class="mb-3">
                <label for="username" class="form-label">Адрес электронной почты</label>
                {{ form.username }}
                {% if form.username.errors %}
                <div class="alert alert-danger">
                    {% for error in form.username.errors %}
                    <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                {{ form.password }}
                {% if form.password.errors %}
                <div class="alert alert-danger">
                    {% for error in form.password.errors %}
                    <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                <div style="display: flex; justify-content: space-between; padding: 10px">
                    <a class="form-text" href="{% url "user:register" %}">У меня нет аккаунта</a>
                </div>
            </div>
            <button style="float: right; width: 100%;" type="submit" class="simple-btn blue-f">Вход</button>
        </form>
    </div>
</div>
{% endblock content %}